body{
    background-color: white;
    
    margin: 0;
}
header{
    background-color: gray;
}

.logo{
    margin-left: 12vh;
}
#sobre{
    display: flex;
    justify-content:center;
}
.posicao{
    justify-content: space-between;
    margin-top: -9vh;
   
}
.abas {
    margin-left: 150vh;
    margin-top: -70px;
    font-size: 20px;
    margin-top: -3vh ;
    
}

.abas li {
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.inicio{
margin-left: 14vh;

}
.nome {
    text-decoration: underline -12vh;
    font-size: 20px;
    margin-left: 20vh;
    margin-top: 17vh;
}

.nome2 {
    font-size: 50px;
    margin-left: 23vh;
    color: blue;
}

.web {
    color: gray;
    margin-left: 24vh;
    font-size: 30px;
    margin-top: -1vh;
}